In [158]:
import sqlite3
import pandas as pd

In [159]:
%reload_ext sql

### Connect SQLite

In [171]:
%sql sqlite:///db/sfbike.sqlite

In [161]:
# Check the table in this database

In [172]:
%%sql
SELECT * 
FROM sqlite_master 
WHERE type='table'

sqlite:///../factbook.db
   sqlite:///../trackdb.sqlite
   sqlite:///./factbook.db
   sqlite:////Users/Ming/Documents/GitHub/sql_jupyter/db/factbook.db
   sqlite:////Users/Ming/Documents/GitHub/sql_jupyter/db/sfbike.db
   sqlite:////Users/Ming/Documents/GitHub/sql_jupyter/db/trackdb.sqlite
   sqlite:///db/factbook.db
 * sqlite:///db/sfbike.sqlite
   sqlite:///db/trackdb.sqlite
   sqlite:///factbook.db
   sqlite:///northwindexbackup.sql
   sqlite:///trackdb.sqlite
   sqlite:///trackdb.sqlite3
Done.

[('table', 'station', 'station', 2, 'CREATE TABLE station (\n    id INTEGER PRIMARY KEY,\n    name TEXT,\n    lat NUMERIC,\n    long NUMERIC,\n    dock_count INTEGER,\n    city TEXT,\n    installation_date TEXT)'),
 ('table', 'status', 'status', 3, 'CREATE TABLE status (\n    station_id INTEGER,\n    bikes_available INTEGER,\n    docks_available INTEGER,\n    time TEXT)'),
 ('table', 'trip', 'trip', 4, 'CREATE TABLE trip (\n    id INTEGER PRIMARY KEY,\n    duration INTEGER,\n    start_date TEXT,\n    start_station_name TEXT, -- this should be removed ... (59 characters truncated) ... d_station_name TEXT, -- this should be removed\n    end_station_id INTEGER,\n    bike_id INTEGER,\n    subscription_type TEXT,\n    zip_code INTEGER)'),
 ('table', 'weather', 'weather', 5, 'CREATE TABLE weather (\n    date TEXT,\n    max_temperature_f INTEGER,\n    mean_temperature_f INTEGER,\n    min_temperature_f INTEGER,\n    max_dew_ ... (482 characters truncated) ... eed_mph INTEGER,\n    precipitation_inches INTEGER,\n    cloud_cover INTEGER,\n    events TEXT,\n    wind_dir_degrees INTEGER,\n    zip_code INTEGER)')]

**-----Another way to execute sql using pandas-----**

In [163]:
# sql_connect = sqlite3.connect('../db/sfbike.sqlite')
# cursor = sql_connect.cursor()

In [164]:
# query = '''SELECT * FROM Album'''
# df = pd.read_sql_query(query, sql_connect)